*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Proxima Nova,Helvetica,Arial,sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gray;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

select {
    border-bottom: 2px solid #4D90FE;
    border: 1px solid #4D90FE;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    padding: 0.6rem;
    padding-bottom: 0.45rem;
    background-color: transparent;
    color: white;
}
select:hover {
    color: white;
    border: 1px solid white;
    background-color: black;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
}
.logo {
    color: white;
}
.home {
    border: 1px solid #4D90FE;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    color: white;
}
.home:hover {
    color: black;
    border: 1px solid white;
    background-color: white;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
}
.log {
    display: flex;
    justify-content: space-between;
}
header {
    margin: 0;
    align-items: center;
    background-color: rgba(27, 31, 35, 0.85);;
    padding: 1rem;
}
.hero {
    background-image: url('model-1.jpg');
    background-size:cover ;
    
    height: 500px;
    margin: 0;
   
}
section{
    margin: 0px;
    padding: 0px;
}
.hero-text{
    position: relative;
    top: 150px;
    left: -50px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.hero-btn {
    color: pink;
    border: 1px solid #4D90FE;
    position: relative;
    top: 180px;
    text-align: center;
    left: 120px;
    background-color: #3C4062;
    box-shadow: 0 5px 9px 0 rgb(0, 0, 0);;
}
.hero-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #4D90FE;
}
.ser {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 17px;
}
.fast {
    width: 100%;
    margin: 1em auto;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    background: white;
    border-bottom: 2px solid #4D90FE;
    color: white;
}
.fast h3 {
    text-align: center;
    padding: 0.5em 1em;
}
.fast p {
    padding: 1em;
    text-align: center;
}
.fast {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-shadow: 0 5px 9px 0 rgb(0, 0, 5);
            box-shadow: 0 5px 9px 0 rgb(0, 0, 0);
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .fast:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
  }
.buy {
    width: 100%;
    margin: 1em auto;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    background: white;
    border-bottom: 2px solid #4D90FE;
    color: white;
}
.buy h3 {
    text-align: center;
    padding: 0.5em 1em;
}
.buy p {
    padding: 1em;
    text-align: center;
}
.buy {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-shadow: 0 5px 9px 0 rgb(0, 0, 5);
            box-shadow: 0 5px 9px 0 rgb(0, 0, 0);
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  
.buy:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
}
.buy-btn {
    color:red;
}
.buy-btn:hover {
    color: #4D90FE;
} 
h1 {
    text-align: center;
    padding: 2rem;
}
h2 {
    text-align: center;
    padding: 3rem;
}
.container p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sell {
    width: 100%;
    margin: 1em auto;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    background: white;
    border-bottom: 2px solid #4D90FE;
    color: white;
}
.sell h3 {
    text-align: center;
    padding: 0.5em 1em;
}
.sell p {
    padding: 1em;
    text-align: center;
}
.sell {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-shadow: 0 5px 9px 0 rgb(0, 0, 5);
            box-shadow: 0 5px 9px 0 rgb(0, 0, 0);
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  
.sell:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
}
.sell-btn {
    color:red;
}
.sell-btn:hover {
    color: #4D90FE;
}
.seo {
    width: 100%;
    margin: 1em auto;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 50, 0.5);
    background: white;
    border-bottom: 2px solid #4D90FE;
    color: white;
}
.seo h3 {
    text-align: center;
    padding: 0.5em 1em;
}
.seo p {
    padding: 1em;
    text-align: center;
}
.seo {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-shadow: 0 5px 9px 0 rgb(0, 0, 5);
            box-shadow: 0 5px 9px 0 rgb(0, 0, 0);
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  
.seo:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
            border-bottom: 2px solid red;
}
.seo-btn {
    color:red;
}
.seo-btn:hover {
    color: #4D90FE;
}

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 250px;
    background: rgba(184, 184, 183, 0.8);
    width: 100%;
    overflow: hidden;
    color: black
  }
  .footer-text {
    text-align: center;
    padding-top: 50px;
  }
  .lin {
    text-align: center;
    color: black;
}
.surprise-text {
    text-align: center;
}
.surprise a {
    color: red;
}  
.surprise a:hover {
    color: white;
} 
.me {
    border-bottom: 2px solid white;
}
@media (min-width: 1200px) {
    .wrapper {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .log {
        display: flex;
        justify-content: space-between;
    }
    .footer {
        text-align: center;
    }
    .lin {
        text-align: center;
    }
    .surprise-text {
        text-align: center;
    }
    .hero-text{
        position: relative;
        top: 180px;
        left: -180px;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
    }
    .hero-btn {
        color: pink;
        border: 1px solid #4D90FE;
        position: relative;
        top: 200px;
        text-align: center;
        left: 120px;
        background-color: #3C4062;
        box-shadow: 0 5px 9px 0 rgb(0, 0, 0);;
    }
    .hero-btn:hover {
        background-color: white;
        color: black;
        border: 1px solid #4D90FE;
    }
    .hero {
        height: 550px;
    }
}    
    @media (min-width: 1530px) {
        .wrapper {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        .log {
            display: flex;
            justify-content: space-between;
        }
        .footer {
            text-align: center;
        }
        .lin {
            text-align: center;
        }
        .surprise-text {
            text-align: center;
        }
        .hero-text{
            position: relative;
            top: 180px;
            left: -250px;
            font-weight: bold;
            font-size: 17px;
            text-align: center;
        }
        .hero-btn {
            color: pink;
            border: 1px solid #4D90FE;
            position: relative;
            top: 200px;
            text-align: center;
            left: 150px;
            background-color: #3C4062;
            box-shadow: 0 5px 9px 0 rgb(0, 0, 0);;
        }
        .hero-btn:hover {
            background-color: white;
            color: black;
            border: 1px solid #4D90FE;
        }
        .hero {
            height: 550px;
        }
    }

@media (max-width:400px){
    .hero{
        background-position-x: -100px;
    }

}